In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso,Ridge,LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import LeaveOneOut

import os

In [5]:
os.chdir(r"D:\Data\26-Weeks-Of-Data-Science-masters\26-Weeks-Of-Data-Science-master\Week-08-Linear_Regression\data")

In [7]:
data=pd.read_csv(r"Advertising.csv")

In [8]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
#Fitting a advance linear regression models

In [9]:
x=data.iloc[:,1:4]
y=data['sales']

In [10]:
x.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=9)

In [21]:
LR=LinearRegression()
LR.fit(x,y)
LR.score(x_test,y_test)

0.9067211650146709

In [26]:
y_pred=Lasso_model.predict(x_train)

In [30]:
Lasso_model=Lasso(alpha=140, max_iter=100000, random_state=9)
Lasso_model.fit(x_train,y_train)
print(Lasso_model.score(x_test,y_test))
mean_squared_error(y_train,y_pred)

0.4811584758557047

12.4970146297304

In [29]:
Ridge_model=Ridge(alpha=0.00001, max_iter=100000, random_state=9)
Ridge_model.fit(x_train,y_train)
print(Ridge_model.score(x_test,y_test))
pred=Ridge_model.predict(x_test)
mean_squared_error(y_test,pred)

0.9034495005442174

2.4406300766306246

In [33]:
#Model validation through k-fold validation
score=cross_val_score(LR,x,y,scoring='neg_mean_squared_error',cv=5)
score.mean()

-3.0729465971002123

In [35]:
score1=cross_val_score(LR,x,y,scoring='neg_mean_squared_error',cv=LeaveOneOut())
score1.mean()

-2.946899800569503